<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANÁLISIS VENTRAL-DORSAL</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/analysis_ventral.css" />
    <style>
      #videoFeed{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;object-fit:cover;}
      #output_canvas{transform:scaleX(-1);position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;pointer-events:none;}
      #container-video{display:none;position:relative;width:100%;height:380px;}
      .container-live{width:100%;height:100%;}
    </style>
  </head>
  <body id="root">
    <div class="container" id="container">

      <!-- Header con logo -->
      <header class="d-flex flex-column align-items-center py-3 mb-4 border-bottom">
        <img
          src="{{ url_for('static', filename='img/logo.png') }}"
          alt="Logo de KiEs"
          class="img-fluid mb-2"
          style="max-height:80px;width:auto;"
        />
        <h1 class="text-center">ANÁLISIS VENTRAL - DORSAL</h1>
      </header>

      <button id="backImg" class="btn btn-light btn-left-top">
        <i class="bi bi-arrow-left"></i>
      </button>
      <div class="info-img-box" id="infoImgBox">
        <i class="bi bi-info-circle"></i>
        La imagen de la persona debe mostrar las caderas y los hombros,
        preferentemente con el torso desnudo o con ropa ajustada contrastada con
        el fondo. Idealmente, la persona debería estar de espalda a la cámara.
      </div>
      <div class="info-box" id="infoBox">
        <i class="bi bi-info-circle"></i>
        Debe marcar los primeros 2 puntos: a la altura del acromion de ambas
        escápulas de la persona. Los siguientes 2 puntos: a la altura del punto
        superior de las crestas ilíacas izquierda y derecha para realizar el
        análisis.
      </div>
      <div class="container-card" id="containerCard">
        <div class="card">
          <button type="button" id="uploadButton" class="custom-upload">
            <img
              src="{{ url_for('static', filename='img/monigoto.jpg') }}"
              width="70" style="opacity:.7" alt="Imagen de ejemplo"
            />
            Subir imagen
          </button>
          <input
            type="file" id="uploadImage" name="image" style="display:none"
            accept="image/*" onchange="handleImageUpload(event)"
          />
        </div>
        <div class="card">
          <button type="button" id="liveAnalysisBtn" class="custom-upload">
            <i class="bi bi-camera-video"></i>
            Análisis en vivo
          </button>
        </div>
      </div>

      <canvas id="canvas"></canvas>

      <div class="button-container">
        <button type="button" id="removeLastPoint" class="btn btn-light remove-button" onclick="handleRemoveLastPoint()">
          <i class="bi bi-x icon-remove"></i> Remover ultimo punto
        </button>
        <button type="button" id="analyzeButton" class="button btn btn-outline-success btn-custom">
          Analizar puntos
        </button>
      </div>

      <div class="container-live" id="containerLive">
        <div class="container" id="container-video">
          <video id="videoFeed" autoplay alt="Video en vivo"></video>
          <canvas id="output_canvas"></canvas>
        </div>
        <button id="captureImageButton" class="button">Capturar</button>
        <img id="capturedImage" alt="Imagen Capturada" />
      </div>

      <ul id="angleList" class="angle-list"></ul>

      <button type="submit" id="generateButton" class="button btn btn-outline-success btn-custom">
        Guardar Análisis
      </button>
      <button type="submit" id="generateLiveButton" class="button btn btn-outline-success btn-custom">
        Guardar Análisis
      </button>

      <a href="{{ url_for('analysis_selection') }}" class="btn btn-light btn-bottom-left">
        <i class="bi bi-arrow-left"></i> Volver a sección de análisis
      </a>
    </div>

    <footer>
      <p>&copy; 2024 KiEs. Todos los derechos reservados.</p>
    </footer>

    <script src="../static/js/analysis_ventral/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script>
      const pacienteDatos = JSON.parse('{{ paciente | tojson | safe }}');
      const videoElement = document.getElementById("videoFeed");
      const outputCanvas = document.getElementById("output_canvas");
      const ctx2 = outputCanvas.getContext("2d");
      let capturedImageData = null;
      let isRearCamera = false;

      navigator.mediaDevices.getUserMedia({ video: { facingMode: { ideal: "environment" } }})
        .then(function (stream) {
          videoElement.srcObject = stream;
          videoElement.play();
          const track = stream.getVideoTracks()[0];
          isRearCamera = track.getSettings().facingMode === "environment";
          videoElement.style.transform = isRearCamera ? "scaleX(1)" : "scaleX(-1)";
        })
        .catch(function () {
          navigator.mediaDevices.getUserMedia({ video: { facingMode: "user" } })
            .then(function (stream) { videoElement.srcObject = stream; videoElement.play(); })
            .catch(function (error) { console.error("Error al acceder a la cámara: ", error); });
        });

      const pose = new Pose({
        locateFile: (file) => `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`,
      });
      pose.setOptions({ modelComplexity: 1, smoothLandmarks: true, minDetectionConfidence: 0.5, minTrackingConfidence: 0.5 });
      pose.onResults(onResults);

      function onResults(results) {
        outputCanvas.width = videoElement.videoWidth;
        outputCanvas.height = videoElement.videoHeight;
        ctx2.clearRect(0, 0, outputCanvas.width, outputCanvas.height);

        if (results.poseLandmarks) {
          const landmarks = results.poseLandmarks;
          const leftShoulder = landmarks[11], rightShoulder = landmarks[12];
          const leftHip = landmarks[23], rightHip = landmarks[24];
          const shoulderAngle = calculateAngleAndDraw2(leftShoulder, rightShoulder, true);
          const hipAngle = calculateAngleAndDraw2(leftHip, rightHip, false);

          ctx2.save();
          ctx2.scale(-1, 1);
          ctx2.fillStyle = "blue";
          ctx2.font = "14px Arial";
          currentAngles = [Math.round(shoulderAngle), Math.round(hipAngle)];
          ctx2.fillText(`Ángulo de Hombros: ${Math.round(shoulderAngle)}°`, -outputCanvas.width + 10, 20);
          ctx2.fillText(`Ángulo de Caderas: ${Math.round(hipAngle)}°`, -outputCanvas.width + 10, 40);
          ctx2.restore();
        }
      }

      function calculateAngleAndDraw2(point1, point2, isShoulder) {
        ctx2.beginPath();
        ctx2.moveTo(point1.x * outputCanvas.width, point1.y * outputCanvas.height);
        ctx2.lineTo(point2.x * outputCanvas.width, point2.y * outputCanvas.height);
        ctx2.strokeStyle = "red"; ctx2.lineWidth = 2; ctx2.stroke(); ctx2.closePath();

        const referenceY = isShoulder ? point1.y * outputCanvas.height : point2.y * outputCanvas.height;
        ctx2.beginPath();
        ctx2.moveTo(point1.x * outputCanvas.width, referenceY);
        ctx2.lineTo(point2.x * outputCanvas.width, referenceY);
        ctx2.strokeStyle = "green"; ctx2.lineWidth = 2; ctx2.stroke(); ctx2.closePath();

        const vector1 = { x: (point2.x - point1.x) * outputCanvas.width, y: (point2.y - point1.y) * outputCanvas.height };
        const vector2 = { x: (point2.x - point1.x) * outputCanvas.width, y: 0 };
        const dotProduct = vector1.x * vector2.x + vector1.y * vector2.y;
        const norm1 = Math.sqrt(vector1.x ** 2 + vector1.y ** 2);
        const norm2 = Math.sqrt(vector2.x ** 2);
        const cosTheta = dotProduct / (norm1 * norm2);
        const angleRadians = Math.acos(Math.min(Math.max(cosTheta, -1), 1));
        const angleDegrees = (angleRadians * 180) / Math.PI;
        const internalAngle = Math.min(angleDegrees, 180 - angleDegrees);

        const centerX = ((point1.x + point2.x) * outputCanvas.width) / 2;
        const centerY = ((point1.y + point2.y) * outputCanvas.height) / 2;
        const distance = (Math.sqrt((point2.x - point1.x) ** 2 + (point2.y - point1.y) ** 2) * outputCanvas.width) / 3;
        const startAngle = point1.y > referenceY / outputCanvas.height ? 0 : Math.PI;
        const endAngle = startAngle + (internalAngle * Math.PI) / 180;

        ctx2.beginPath();
        ctx2.ellipse(centerX, centerY, distance, distance, 0, startAngle, endAngle);
        ctx2.strokeStyle = "blue"; ctx2.lineWidth = 2; ctx2.stroke(); ctx2.closePath();

        return internalAngle;
      }

      async function detectPose(){ await pose.send({ image: videoElement }); requestAnimationFrame(detectPose); }
      videoElement.onloadeddata = () => { detectPose(); };

      document.getElementById("captureImageButton").addEventListener("click", () => {
        event.preventDefault(); captureImageFromFeed();
      });

      let capturedAngles = null;

      function captureImageFromFeed() {
        if (videoElement.readyState < 3) return;

        const captureCanvas = document.createElement("canvas");
        const captureContext = captureCanvas.getContext("2d");
        captureCanvas.width = videoElement.videoWidth;
        captureCanvas.height = videoElement.videoHeight;

        if (!isRearCamera) {
          captureContext.translate(captureCanvas.width, 0);
          captureContext.scale(-1, 1);
        }

        captureContext.drawImage(videoElement, 0, 0, captureCanvas.width, captureCanvas.height);

        const outputCanvas = document.getElementById("output_canvas");
        if (outputCanvas) {
          if (isRearCamera) {
            captureContext.save();
            captureContext.translate(captureCanvas.width, 0);
            captureContext.scale(-1, 1);
            captureContext.drawImage(outputCanvas, 0, 0, captureCanvas.width, captureCanvas.height);
            captureContext.restore();
          } else {
            captureContext.drawImage(outputCanvas, 0, 0, captureCanvas.width, captureCanvas.height);
          }
        }

        capturedImageData = captureCanvas.toDataURL("image/png");
        const capturedImage = document.getElementById("capturedImage");
        capturedImage.src = capturedImageData; capturedImage.style.display = "block";
        document.getElementById("generateLiveButton").style.display = "block";

        capturedAngles = currentAngles;
        addAngleList(capturedAngles[0], capturedAngles[1]);
      }

      document.getElementById("generateLiveButton").addEventListener("click", (event) => {
        event.preventDefault();
        generatePDFFromFeed(outputCanvas.toDataURL("image/png"), capturedAngles[0], capturedAngles[1]);
      });

      function generatePDFFromFeed(imgData, shoulderAngle, hipAngle) {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();
        let lineSpacing = 8; const marginLeft = 15; let yPosition = 20;

        doc.setFont("Helvetica","bold"); doc.setFontSize(14);
        doc.text("ANÁLISIS VENTRAL - DORSAL", 105, 20, { align: "center" });
        doc.setLineWidth(0.5); doc.line(67, 21, 142, 21);

        // Agregar logo (ruta correcta con url_for)
        const logoImg = new Image();
        logoImg.src = "{{ url_for('static', filename='img/logo.png') }}";
        logoImg.onload = function () {
          const logoWidth = 16;
          const logoHeight = (logoImg.height / logoImg.width) * logoWidth;
          doc.addImage(logoImg, "PNG", 10, 8, logoWidth, logoHeight);
          doc.setFont("helvetica", "normal"); doc.setFontSize(6);
          doc.text("KiEs", 18, 28, { align: "center" });

          doc.setFont("Helvetica","normal"); doc.setFontSize(12);
          doc.text("DATOS DEL PACIENTE:", 15, 45);
          doc.setLineWidth(0.3); doc.line(15, 46, 62, 46);

          const datosPacienteY = 52; lineSpacing = 4;
          doc.setFontSize(10); doc.setFont("Helvetica","Oblique");
          doc.text(`DNI: ${pacienteDatos["dni"]}`, 15, datosPacienteY);
          doc.text(`Nombre: ${pacienteDatos.name}`, 15, datosPacienteY + lineSpacing);
          doc.text(`Edad: ${pacienteDatos.age}`, 15, datosPacienteY + 2*lineSpacing);
          doc.text(`Altura: ${pacienteDatos.height}`, 15, datosPacienteY + 3*lineSpacing);
          doc.text(`Peso: ${pacienteDatos.weight}`, 15, datosPacienteY + 4*lineSpacing);
          doc.text(`Fecha de análisis: ${pacienteDatos.consultaDate}`, 15, datosPacienteY + 5*lineSpacing);
          doc.text(`Historial: ${pacienteDatos.historial}`, 15, datosPacienteY + 6*lineSpacing);

          const imageYPosition = datosPacienteY + 6*lineSpacing + 5;
          doc.line(15, imageYPosition, 195, imageYPosition);

          const pdfWidth = doc.internal.pageSize.getWidth();
          const scaleFactor = 0.4;
          const imgScaledWidth = pdfWidth * scaleFactor;
          const imgScaledHeight = (videoElement.videoHeight * imgScaledWidth) / videoElement.videoWidth;
          const posX = (pdfWidth - imgScaledWidth) / 2;
          const posY = imageYPosition + 5;

          doc.line(15, imageYPosition, pdfWidth - 15, imageYPosition);
          const imgDataToUse = capturedImageData;
          doc.addImage(imgDataToUse, "PNG", posX, posY, imgScaledWidth, imgScaledHeight);

          const lineBelowImage = posY + imgScaledHeight + 5;
          doc.line(15, lineBelowImage, pdfWidth - 15, lineBelowImage);

          doc.setFont("Helvetica","normal"); doc.setFontSize(12);
          doc.text("RESULTADOS DE ANÁLISIS:", 15, lineBelowImage + 10);
          doc.setLineWidth(0.3); doc.line(15, lineBelowImage + 11, 71, lineBelowImage + 11);

          yPosition = lineBelowImage + 18; doc.setFontSize(10); doc.setFont("Helvetica","Oblique");
          doc.text(`Ángulos internos:`, 15, yPosition - 1);
          yPosition += lineSpacing;
          doc.text(`Ángulo interno entre los Hombros: ${shoulderAngle}°`, 15, yPosition);
          yPosition += lineSpacing;
          doc.text(`Ángulo interno entre las Caderas: ${hipAngle}°`, 15, yPosition);

          doc.save(`Análisis_ventral_dorsal_${pacienteDatos["dni"]}_${pacienteDatos.consultaDate}.pdf`);
        };
      }
    </script>
  </body>
</html>
